body{
	background:url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?cs=srgb&dl=backgrounds-blank-blue-953214.jpg&fm=jpg);
}

ul{
	font-family: 'Sanchez', serif;
	font-size: 15px;
	
}
.tete{
	font-family: 'Sanchez', serif ; color: #4d4d33; font-weight: bold;
	padding: 25px 20px 0px 20px;
}
#box1{
	word-wrap: break-word;
	position: relative;
	background-color: white;
	border-radius: 2px;
	width: 350px;
	height: 700px;

}
.boxbtn{
	padding-left: 10px;
	padding-right: 10px;
}
#btn{
	
	border-radius: 30px;
	font-family: 'Sanchez', serif ; color: #4d4d33
}
.foot{

	
	font-family: 'Sanchez', serif ; color: #4d4d33;

}
.fin{
	padding-left: 10px;
	padding-right: 10px;
}
.container{
	margin:auto;
	width: 400px;
	padding-top: 20px;
}
li{
	padding-left: 10px;

}
input[type=checkbox] {
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px;


}
.boutonterminee{
	padding-left: 10px;
}